/* Courses */
.pagelayout-course {
    #page {
        &.drawers .main-inner {
            max-width: none;
        }
        #page-header .header-actions-container .header-action {
            .bulkEnable {
                color: $primary !important;
                border: 1px solid $primary;
                border-radius: 5px;
                &:hover,
                &:focus,
                &:active {
                    color: $white !important;
                    background-color: $primary;
                }
                i.icon {
                    margin-left: 5px;
                    margin-right: 0;
                }
            }
        }
    }
}
#page-course-index #region-main {
    .coursebox {
        margin-bottom: 9px;
    }
    .mform {
        fieldset {
            margin-bottom: 40px;
        }
        legend {
            margin-bottom: 30px;
        }
    }
}
#page-course-index-category .course_category_tree .category > .info > .categoryname.aabtn:before {
    color: $white;
}
#course-category-listings {
    .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
        vertical-align: middle;
        margin-top: 0;
        top: 0;
    }
    .listitem[data-selected='1'] {
        border-left-color: $primary;
    }
    #category-listing .course-count i.icon {
        margin-left: 5px;
    }
}

#page-course-management #page #page-content ul.ml li .menubar .dropdown {
    a.dropdown-toggle i.icon {
        margin: 0;
    }
    .dropdown-menu a.dropdown-item i.icon {
        color: $primary;
    }
}

.list-group-item {
    background: none;
    &.active {
        background: $primary;
        border-color: $primary;
        span i.icon {
            color: $white;
        }
    }
}
.path-course {
    .main-inner {
        #page-header,
        .secondary-navigation {
            max-width: none;
        }
    }
    .tertiary-navigation > div:last-child .dropdown .dropdown-menu {
        left: auto !important;
        right: 0;
    }
}
