{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav id="header" class="{{^themestyleheader }} moodle-based-header {{/themestyleheader }} fixed-top navbar navbar-light bg-faded navbar-static-top navbar-expand moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">

     <div class="container navbar-nav">
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            {{#navdrawerstatus}}
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
                <span aria-hidden="true"> </span>
                <span aria-hidden="true"> </span>
                <span aria-hidden="true"> </span>
            </button>
            {{/navdrawerstatus}}

            {{^themestyleheader  }} {{!-- Hide menu nave for moodle style }}
            <button class="navbar-toggler aabtn d-block d-md-none my-1 mr-2" data-toggle="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
            </button>
            <a href="{{{ config.wwwroot }}}/?redirect=0" class="navbar-brand {{# logourl }}has-logo{{/ logourl }}
                {{^ logourl }}
                    hidden-sm-down
                {{/ logourl }}
                    ">
                {{# logourl }}
                    <span class="logo">
                        <img src="{{logourl}}" alt="{{sitename}}">
                    </span>
                {{/ logourl }}
                {{^ logourl }}
                    <span class="site-name hidden-sm-down">{{{ sitename }}}</span>
                {{/ logourl }}
            </a>
            {{/themestyleheader}}

            {{#themestyleheader}}
                <nav class="nav navbar-nav hidden-md-down address-head">
                    {{# phoneno}}
                        <span><i class="fa fa-phone"></i>{{#str}}callus, theme_academi{{/str}} : {{ phoneno }}</span>
                    {{/ phoneno}}
                    {{# emailid}}
                        <span><i class="fa fa-envelope-o"></i>{{#str}}email, theme_academi{{/str}} : <a href="mailto:{{emailid}}">{{ emailid }}</a></span>
                    {{/ emailid}}
                </nav>
            {{/themestyleheader}}
        </div>

        {{^themestyleheader  }} {{!-- Hide menu nave for moodle style }}
            {{#primarymoremenu}}
                <div class="primary-navigation">
                    {{> core/moremenu}}
                </div>
            {{/primarymoremenu}}

            <ul class="navbar-nav d-none d-md-flex my-1 px-1">
                <!-- page_heading_menu -->
                {{{ output.page_heading_menu }}}
            </ul>
        {{/themestyleheader}}

        <div id="usernavigation" class="navbar-nav ml-auto">
            {{#langmenu}}
                {{> theme_boost/language_menu }}
            {{/langmenu}}
            {{{ output.search_box }}}
            {{{ output.navbar_plugin_output }}}
            <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
                {{#usermenu}}
                    {{> core/user_menu }}
                {{/usermenu}}
            </div>
            {{{ output.edit_switch }}}
        </div>
        <!-- search_box -->
    </div>
</nav>
